
@{
    @Styles.Render("~/Content/css/style-seats.css")
    @Scripts.Render("~/Scripts/jquery.seat-charts.js")
    ViewBag.Title = "Selecionar asientos";
}
<div class="main">
    <h2>Sala 1, pantalla de proyección de teatro multiplex</h2>
    
</div>

<script type="text/javascript">
	</script>