
<div class="container">
    <div class="page">
        <div class="breadcrumbs">
            <a href="index.html">Home</a>
            <span>Acerca de</span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure><img src="~/Img/uca2.jpg" alt="figure image"></figure>
            </div>
            <div class="col-md-8" style="line-height:30px;">
                <p class="leading">Somos y siempre seremos UCA</p>
                <p class="text-justify">
                    La Universidad Centroamericana (UCA) es una plataforma de
                    aprendizaje que garantiza la formación más allá de las aulas,
                    al complementar la oferta de carreras profesionalizantes con
                    el deporte, la cultura, el voluntariado, la innovación y el
                    bienestar físico, emocional y espiritual de las y los
                    estudiantes.

                    Te invitamos a disfrutar tu vida universitaria en la UCA al
                    máximo para convertirte en una persona con gran capacidad
                    profesional y un alto sentido humano.
                </p>
                <p></p>
                <p></p>
                <p class="text-justify">La Dirección de Identidad y Misión UCA es un espacio de servicio a la sociedad, que promueve encuentros con la fe. Animamos y promovemos el desarrollo de la vida, inspirados en los valores humanos, cristianos e ignacianos en la universidad.</pclass="text-justify">
            </div>
        </div>
        <div class="row">
            <div class="col-md-9" style="line-height:30px;">
            <div class ="text-justify" >
            <h2 class="section-title">CatchFilms</h2>
            <p>Ponemos a tú servicio las mejores salas de cine, con la comodidad y accesibilidad que necesitas para realizar tus eventos en un ambiente diferente. Cómodas butacas, ubicadas en gradas tipo estadio, con aire acondicionado, con la opción de nuestros productos de dulcería, ubicadas en los mejores centros comerciales del país.</p>
            <h3> Misión</h3>
            <p>Estamos dedicados a crear recuerdos memorables de película, un cliente a la vez. Lo más importante es hacer de la visita del cliente un escape de la realidad, recalcando siempre la comodidad, la buena atención y amabilidad de nuestro personal.</p>
            <h3>Visión</h3>
            <p>Modelar el futuro de la industria al ser reconocidos como la cadena de entretenimiento fuera de casa más influyente del mundo.</p>
            
        </div>
    </div>

            <div class="col-md-3">
                <h2 class="section-title">Proyecto final </h2>
                <p class="text-justify" style="line-height:30px;">El objetivo de la creación de este sitio web es realizar una versión beta sobre las reservaciones de boletos en un cine.</p>
                <p></p>
                <p></p>
            </div>
        </div> <!-- .row -->

        <h2 class="section-title">Nuestro equipo</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="team">
                    <figure class="team-image"><img src="~/Img/babss.jpg" alt=""></figure>
                    <h2 class="team-name">Barbara Palvin</h2>
                    <small class="team-title">Desarrollador</small>
                    <div class="social-links">
                        <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <figure class="team-image"><img src="~/Img/cole.jpg" alt=""></figure>
                    <h2 class="team-name">Cole Sprouse</h2>
                    <small class="team-title">Desarrollador</small>
                    <div class="social-links">
                        <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <figure class="team-image"><img src="~/Img/sele.jpg" alt=""></figure>
                    <h2 class="team-name">Selena Gomez</h2>
                    <small class="team-title">Desarrollador</small>
                    <div class="social-links">
                        <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="team">
                    <figure class="team-image"><img src="~/Img/shawncito.jpg" alt=""></figure>
                    <h2 class="team-name">Shawn Mendes</h2>
                    <small class="team-title">Desarrollador</small>
                    <div class="social-links">
                        <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="" class="pinterest"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> <!-- .container -->