
@{
    ViewBag.Title = "Error interno del sistema";
}
<br />
<div class="container" style="background-color: #00000000; color: #FFFFFF; padding-left: 15px; padding-right: 15px;">
    <h2>Error 500, problema interno del sistema, no se logró ejecutar correctamente la instrucción</h2>
</div>


