
@{
    ViewBag.Title = "Error, recurso no encontrado";
}
<br />
<div class="container" style="background-color: #00000000; color: #FFFFFF; padding-left: 15px; padding-right: 15px;">
    <h2>Error 404, no se encontró el recurso solicitado</h2>
</div>
    

