
@{
    ViewBag.Title = "Error, sin permisos";
}

<div class="container" style="background-color: #00000000; color: #FFFFFF; padding-left: 15px; padding-right: 15px;">
    <h2>Error 401, el usuario actual no tiene permisos para acceder a este apartado, ¿Cree que es un error? 
        Contacte al Administrador de la página</h2>
</div>

